h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}
.agency1 {
  color: #2196f3;
}
.agency2 {
  color: #212121;
}
.portfolio1 {
  color: #212121;
}
.portfolio2 {
  color: #2196f3;
}
.contact {
  color: #212121;
}
.infodevstudio {
  color: #2196f3;
}
.tel-header {
  color: #757575;
}
span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
  letter-spacing: 0.03em;
}
.page-link-header {
  font-family: "Oleo Script";
  font-weight: 400;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 31px;
}
.page-link-footer {
  font-family: "Oleo Script";
  font-weight: 400;
  font-size: 26px;
  color: #ffffff;
  letter-spacing: 0.03em;
  line-height: 31px;
}
.bg-our-team {
  background-color: #f5f4fa;
}
a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
a:hover,
a:focus {
  color: purple;
}
button:hover,
button:focus {
  color: purple;
}
button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  background-color: #f5f4fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-order {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-all {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero {
  background-color: #2f303a;
}
header {
  background: #ffffff;
}
h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  font-family: "Roboto";
  font-style: normal;
}
.title-lorem {
  text-align: left;
  font-size: 14px;
}
.text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #757575;
}
.names {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}
div {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}
footer {
  background-color: #2f303a;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
}
.adress {
  color: #ffffff99;
}
.unordered-list {
  list-style: none;
}
.card-bg-product-designer {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}
.card-bg-frontend-developer {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}
.card-bg-marketing {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-bg-ui-designer {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.names2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  color: #212121;
}
